*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	font-family: 'PT Serif', serif;
}
.container{
	width: 1230px;
	margin:0;
	padding:0 15px;
	background-color:grey;
}
.header{
	background:green;
	width:200px;
	height:200px;
	border:1px solid gray;
}
